/*linkin in fonts*/
@font-face {
  font-family: Avenir-black;
  src: url(../fonts/Avenir-black.otf);
  font-weight: bold;
}

@font-face {
  font-family: Avenir-medium;
  src: url(../fonts/Avenir-medium.otf);
  font-weight: medium;
}

:root {
  --primary-color: rgba(13, 110, 139, 0.55);
  --overlay-color: rgba(3, 29, 43, 0.97);
  --hover-color: rgba(115, 0, 41, 0.85);
  --shape-color: #105D63;
  --background-color: #05232D;
  --text-color: #fff;
  --menu-speed: 0.75s;
  --transition-speed: 600ms;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}


.about-page {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.background-shape {

  z-index: -1;
}

#triangle-bottomright {
  width: 100vw;
  height: 0;
  border-bottom: 250px solid var(--shape-color);
  border-left: 1500px solid transparent;
  position: absolute;
  bottom: 180px;
  right: 0;
  overflow: hidden;
}

#rectangle {
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: var(--shape-color);
  width: 100vw;
  height: 190px;
}

.profile {
  position: absolute;
  padding: 6rem;
  z-index: 1;
  color: var(--text-color);
}

.profile p {
  z-index: 1;
}

h2 {
  font-size: 3rem;
  padding-bottom: 0.5rem;
}
